.container {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 800px;
  position: relative;
  left: -300px;
  top: 20px;
}
.location {
  font-size: 18px;
  font-weight: 400;
}
.searchfield {
  text-align: right;
  padding-left: 40px;
}
.buttons {
  padding-left: 4px;
}
.form-control {
  height: 30px;
  font-size: 14px;
}
.live-temperature {
  font-size: 32px;
  padding: 20px;
}
.attributes {
  font-size: 14px;
}
.units {
  text-decoration: none;
}
.live-temperature .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.live-temperature .active:hover {
  text-decoration: none;
}
.live-temperature-icon {
  font-size: 56px;
}
.following-days {
  font-size: 12px;
  margin-bottom: 10px;
}
.forecast-days {
  font-size: 12px;
  text-align: center;
}
.forecast-icon {
  font-size: 32px;
  text-align: center;
}
.forecast-temperature {
  text-align: center;
}
.units {
  font-size: 12px;
  vertical-align: top;
}

.sourceCodeLink {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
  padding: 30px 50px;
}
